README.md
LICENSE
.gitignore
compose*.yaml
.git
.github
development/
docs/
tests/
.devcontainer/
devcontainer-example/
*.md
*.env
*.yml
*.yaml
pwd.yml
setup.cfg
requirements-test.txt
install_x11_deps.sh
custom.env
